* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: black;
  background-image: url(../lib/low-poly.png);
}

h1 {
  color: white;
  margin-left: 10px;
  font-size: 50px;
  text-shadow: 3px 3px 5px #1f004e, -3px 3px 5px #1f004e, 3px -3px 5px #1f004e,
    -3px -3px 5px #1f004e;
}

span {
  background-color: white;
}

#main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message-input-box {
  min-width: 500px;
  min-height: 100px;
  margin-left: 10px;
  background-color: white;
}

.message-container {
  border: 1px solid black;
  margin: 10px;
  background-color: white;
}

.message-text {
  padding: 5px;
  background-color: white;
}

.action-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: white;
}

button {
  background-color: black;
  color: white;
  border: 1px solid white;
  margin-left: 10px;
  padding: 5px 10px;
}
